<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="INSPIRO" />    
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>POLO | The Multi-Purpose HTML5 Template</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/mobirise-icons.css" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">        
        <!-- Header -->
        <header id="header" data-fullwidth="true">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="index.html">
                            <span class="logo-default"><img src="images/brain.jpg"></span>
                            <span style="color: #833ccc">smart</span><span style="color: #36daf5;">analytics</span>  
                        </a>
                    </div>
                    <!--End: Logo-->                                       
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul style="float: left; margin-right: 3rem;">
                                  <li><a href="index.html">Home</a></li>
                                  <li><a href="index.html">Servicios</a></li>
                                  <li><a href="index.html">Acerca</a></li>
                                  <li><a href="index.html">Contacto</a></li>
                                </ul>
                                <div class="menu-phone-number">
                                    <a class="btn btn-sm btn-primary display-4 pt-1" href="tel:+1-234-567-8901">
                                        <span class="btn-icon mbri-mobile mbr-iconfont mbr-iconfont-btn">
                                        </span>  +56990207637
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->
        <!-- Page Content -->
        {% block div %}
        {% endblock %}
        <!-- end: Page Content -->
        <!-- Footer -->
        <footer id="footer">
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; 2020 Geo Intelligence. All Rights Reserved.<a href="//www.geointelligence.com" target="_blank" rel="noopener"> Geo Intelligence</a> </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>

    <script src="plugins/moment/moment.min.js"></script>
    <script src="plugins/Chart.min.js"></script>
    <script src="js/utils.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>

