{% extends "base.html" %}
{% block div %}
        <!-- Inspiro Slider -->
                 <!-- Inspiro Slider -->
 <div id="slider" class="inspiro-slider slider-halfscreen dots-creative">

     <!-- Slide 1 -->
     <div class="slide kenburns" data-bg-image="{{url_for('static', filename='images/1.jpg')}}">
         <div class="bg-overlay"></div>
         <div class="container">
             <div class="slide-captions text-center text-light">
                 <!-- Captions -->
                 <span class="strong"><a href="#" class="business"><span
                             class="business">Smartanalytics</span></a>
                 </span>
                 <h1>
                     Explore el nuevo mundo de la creatividad</h1>
                 <div><button type="button" class="btn">Explorar</button>
                 </div>
                 <!-- end: Captions -->
             </div>
         </div>
     </div>
     <!-- end: Slide 1 -->

     <!-- Slide 2 -->
     <div class="slide kenburns" data-bg-image="{{url_for('static', filename='images/2.jpg')}}">
         <div class="bg-overlay"></div>
         <div class="container">
             <div class="slide-captions text-left text-light">
                 <!-- Captions -->
                 <span class="strong"><a href="#" class="business"><span
                             class="business">smartanalytics</span></a>
                 </span>
                 <h1>Crece con Inteligencia</h1>
                 <div><button type="button" class="btn">Explorar</button>
                 </div>
                 <!-- end: Captions -->
             </div>
         </div>
     </div>
     <!-- end: Slide 2 -->

 </div>
 <!--end: Inspiro Slider -->
 <input type="hidden" id="chart1_data" value="{{ chart1_data }}">
 <input type="hidden" id="chart1_title" value="{{ chart1_title }}">
 <section class="section-space secion-article">
    <div class="container">

        <div class="row">
            <div class="col-12 col-xl-4 order-xl-2">
                <div class="heading-text heading-section">
                    <h4>Datos en timepo real</h4>
                </div>
                <div class="row">
                    <a href="/chart/1" style="width: 100%;">
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="chart-div mb-5">
                                <canvas id="chart1"></canvas>
                            </div>
                        </div>
                        
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="chart-div mb-5">
                                <canvas id="chart1_pie"></canvas>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-xl-8">
                
                <div class="heading-text heading-section">
                    <h4>Artículos Recientes</h4> <a href="/post_list"> <span>View all posts</span></a>
                </div>
                
                {% for post in posts.items %} 
                <div class="post-item border side-image-post">
                    <div class="post-item-wrap">
                        <div class="post-image">
                            <a href="/post/{{ post.id }}"> 
                                {% if post.image_type == "video" %}
                                <video playsinline="" loop="true" controls preload="true">
                                    <source src="{{ post.image_url }}" type="video/mp4">
                                </video>
                                {% else %}
                                    <img src="{{ post.image_url }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="post-item-description"> <span class="post-meta-date"><i
                                    class="fa fa-calendar-o"></i>{{ post.date.strftime("%B %d, %Y") }}</span> 
                                    <span
                                class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>By {{ post.author.username }}</a></span>
                            <h2><a href="#">{{ post.title }} </a></h2>
                            {% if post.text|length > 400 %}
                                <td>{{ post.text[0:400] }} ...</td>
                            {% else %} 
                                <td>{{ post.text }} </td>
                            {% endif %} &nbsp
                            <a href="/post/{{ post.id }}" class="item-link">Read More <i class="icon-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

 <!-- About us -->
 <section id="section-2">
     <div class="container">
         <div class="row">
             <div class="col-lg-5 m-b-60">
                 <h4>Acerca </h4>
                 <h2>SmartAnalytics</h2>
                 <p class="lead">Smaranalytics es una empresa especializada en la ciencia de los datos que
                     permite a tu organización a entender mejor tu entorno a través de herramientas de
                     inteligencia artificial, bigdata y análisis geoespaciales</p>
                 <a href="#services" class="btn btn-dark btn-outline btn-rounded">CONOCE NUESTROS SERVICIOS</a>
             </div>
             <div class="col-lg-6 offset-lg-1 m-t-40">
                 <div class="row">
                     <!-- features box -->

                     <div class="col-lg-6 mb-4">
                         <h4>
                             Inteligencia de negocios</h4>
                         <p>Ayudamos a su empresa a conocer mejor a sus clientes y a encontrar nuevos clientes
                         </p>
                     </div>
                     <!-- end: features box -->

                     <!-- features box -->
                     <div class="col-lg-6 mb-4">
                         <h4>Inteligencia Electoral</h4>
                         <p>Le ayudamos a ganar las elecciones y decidir dónde tiene más posibilidades de ganar.
                         </p>
                     </div>
                     <!-- end: features box -->

                     <!-- features box -->
                     <div class="col-lg-6 mb-4">
                         <h4>Inteligencia territorial</h4>
                         <p>Obtenga la máxima ventaja del conocimiento del territorio donde trabaja</p>
                     </div>

                     <!-- end: features box -->
                 </div>
             </div>
             <!-- end features box -->
         </div>
     </div>
 </section>
 <!-- end: About us -->

 <!-- Call to action -->
 <section class="background-grey text-center">
     <div class="container">
         <div class="row">
             <div class="col-lg-9">
                 <h3 style="font-weight: 400;">Obtén Grátis un Diagnóstico Electoral de tu Comuna</h3>
             </div>
             <div class="col-lg-3"><a href="#" class="btn btn-rounded">CONCERTA UNA VISITA</a> </div>
         </div>
     </div>
 </section>
 <!-- end: Call to action -->


 <section class="pb-0" id="section-3">
     <div class="container">
         <div class="text-center">
             <h3 class="text-medium m-b-5">Nuestras Areas de Trabajo</h3>
         </div>
     </div>
     <hr class="space">
     <div class="box-fancy section-fullwidth text-light">
         <div class="row">
             <div style="background-color: #3D4045" class="col-lg-4">
                 <h1 class="text-lg text-uppercase">01.</h1>
                 <h3>INTELIGENCIA DE NEGOCIOS</h3>
                 <span>Ayudamos a tu empresa a conocer mejor a tus clientes y a encontrar nuevos clientes
                 </span>
             </div>

             <div style="background-color: #505358" class="col-lg-4">
                 <h1 class="text-lg text-uppercase">02.</h1>
                 <h3>INTELIGENCIA ELECTORAL</h3>
                 <span>Te ayudamos a ganar las elecciones y a decidir dónde tienes más oportunidades de
                     ganar</span>
             </div>

             <div style="background-color: #3D4045" class="col-lg-4">
                 <h1 class="text-lg text-uppercase">03.</h1>
                 <h3>INTELIGENCIA TERRITORIAL</h3>
                 <span>Obtén la máxima ventaja del conocimiento del territorio donde te desempeñas</span>
             </div>
         </div>
     </div>
 </section>
 <!-- Our numbers -->
 <section class="p-t-100 p-b-100 bi" data-bg-parallax="{{url_for('static', filename='images/4.jpg')}}">
     <div class="bg-overlay"></div>
     <div class="container xs-text-center sm-text-center text-light">
         <div class="row align-items-center">
             <div class="col-lg-4 p-b-60">
                 <h2>Inteligencia de Negocios</h2>
                 <p class="lead">En SmartAnalytics tenemos información útil
                     para que tu empresa tenga éxito</p>

             </div>
             <div class="col-lg-8">
                 <div class="row">
                     <div class="col-lg-4">
                         <div class="text-center">
                             <div class="counter text-lg"> <span data-speed="3000" data-refresh-interval="50"
                                     data-to="3000000" data-from="600" data-seperator="true"></span> </div>
                             <div class="seperator seperator-small"></div>
                             <p>Consumidores</p>
                         </div>
                     </div>
                     <div class="col-lg-4">
                         <div class="text-center">
                             <div class="counter text-lg"> <span data-speed="4500" data-refresh-interval="23"
                                     data-to="600000" data-from="600" data-seperator="true"></span> </div>
                             <div class="seperator seperator-small"></div>
                             <p>Empresas</p>
                         </div>
                     </div>
                     <div class="col-lg-4">
                         <div class="text-center">
                             <div class="counter text-lg"> <span data-speed="3000" data-refresh-interval="12"
                                     data-to="1500" data-from="10" data-seperator="true"></span> </div>
                             <div class="seperator seperator-small"></div>
                             <p>Mapas </p>
                         </div>
                     </div>

                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- end: Our numbers -->
 <section>
     <div class="container">
         <div class="heading-text heading-section">
             <h2>Servicios para empresas</h2>
             <span class="lead">Sácale provecho a datos complejos</span>
         </div>

         <div class="row align-items-center">
             <div class="col-12 col-lg-12">
                 <div class="row">

                     <div class="col-md-6 col-xl-3" data-animate="flipInY" data-animate-delay="0">
                         <div class="icon-box effect small">
                             <div class="icon">
                                 <a href="#"><i class="fa fa-plug"></i></a>
                             </div>
                             <h3>Big Data y Asministración de datos</h3>

                             <ul class="list-icon list-icon-circle list-icon-colored">
                                 <li>Extraer los datos.</li>
                                 <li>Transformarlos.</li>
                                 <li>Trasladarlos a un determinado sistema</li>
                             </ul>


                         </div>
                     </div>
                     <div class="col-md-6 col-xl-3" data-animate="flipInY" data-animate-delay="200">
                         <div class="icon-box effect small ">
                             <div class="icon">
                                 <a href="#"><i class="fa fa-desktop"></i></a>
                             </div>
                             <h3>Big Data y Generación de datos</h3>
                             <ul class="list-icon list-icon-circle list-icon-colored">
                                 <li>Recopilar información.</li>
                                 <li>Aplicar técnicas de análisis predictivo.</li>
                                 <li>Realizar proyecciones de futuro. </li>
                             </ul>

                         </div>
                     </div>
                     <div class="col-md-6 col-xl-3" data-animate="flipInY" data-animate-delay="400">
                         <div class="icon-box effect small ">
                             <div class="icon">
                                 <a href="#"><i class="fa fa-cloud"></i></a>
                             </div>
                             <h3>Big data and data visualization</h3>
                             <ul class="list-icon list-icon-circle list-icon-colored">
                                 <li>Reportes</li>
                                 <li>Geo-referenciación</li>
                                 <li>Análisis geoespaciales</li>
                             </ul>
                         </div>
                     </div>

                     <div class="col-md-6 col-xl-3" data-animate="flipInY" data-animate-delay="600">
                         <div class="icon-box effect small ">
                             <div class="icon">
                                 <a href="#"><i class="far fa-lightbulb"></i></a>
                             </div>
                             <h3>Big Data y Segmentación de datos</h3>
                             <ul class="list-icon list-icon-circle list-icon-colored">
                                 <li>Data mining</li>
                                 <li>Perfilamiento</li>
                                 <li>Segmentación</li>
                             </ul>
                         </div>
                     </div>
                 </div>
             </div>

         </div>
     </div>

 </section>


 <section class="p-t-100 p-b-100 bi" data-bg-parallax="{{url_for('static', filename='images/5.jpg')}}">
     <div class="bg-overlay"></div>
     <div class="container xs-text-center sm-text-center text-light">
         <div class="row align-items-center">
             <div class="col-lg-4 p-b-60">
                 <h2>Inteligencia Electoral</h2>
                 <p class="lead">En SmartAnalytics Tenemos Información
                     para ayudarte a ganar las próximas elecciones:</p>

             </div>
             <div class="col-lg-8">
                 <div class="row">
                     <div class="col-lg-6">
                         <div class="text-center">
                             <div class="counter text-lg"> <span data-speed="3000" data-refresh-interval="50"
                                     data-to="14000000" data-from="600" data-seperator="true"></span> </div>
                             <div class="seperator seperator-small"></div>
                             <p>De personas habilitadas para votar</p>
                         </div>
                     </div>
                     <div class="col-lg-6">
                         <div class="text-center">
                             <div class="counter text-lg"> <span data-speed="4500" data-refresh-interval="23"
                                     data-to="8000000" data-from="600" data-seperator="true"></span> </div>
                             <div class="seperator seperator-small"></div>
                             <p>Personas que votaron en la ultima Elección</p>
                         </div>
                     </div>
                     <div class="col-lg-6">
                         <div class="text-center">
                             <div class="counter text-lg"> <span data-speed="3000" data-refresh-interval="12"
                                     data-to="350" data-from="10" data-seperator="true"></span> </div>
                             <div class="seperator seperator-small"></div>
                             <p>Perfiles Electorales Inteligentes </p>
                         </div>
                     </div>
                     <div class="col-lg-6">
                         <div class="text-center">
                             <div class="counter text-lg"> <span data-speed="3000" data-refresh-interval="5"
                                     data-to="4000000" data-from="700" data-seperator="true"></span> </div>
                             <div class="seperator seperator-small"></div>
                             <p>De Direcciones Georreferenciadas </p>
                         </div>
                     </div>

                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- end: Our numbers -->
 <section>
     <div class="container">
         <div class="heading-text heading-section">
             <h2>Servicios Electorales</h2>
             <span class="lead">La información es la clave para ganar</span>
         </div>

         <div class="row align-items-center">
             <div class="col-12 col-lg-12">
                 <div class="row">

                     <div class="col-md-6 col-xl-3" data-animate="flipInY" data-animate-delay="0">
                         <div class="icon-box effect small">
                             <div class="icon">
                                 <a href="#"><i class="fa fa-plug"></i></a>
                             </div>
                             <h3>Diagnóstico de Electividad</h3>
                             <p>Conozca dónde tiene más oportunidad de ganar y cuál es la mejor estrategia</p>



                         </div>
                     </div>
                     <div class="col-md-6 col-xl-3" data-animate="flipInY" data-animate-delay="200">
                         <div class="icon-box effect small ">
                             <div class="icon">
                                 <a href="#"><i class="fa fa-desktop"></i></a>
                             </div>
                             <h3>Bigdata de Votantes</h3>
                             <p>
                                 Obtenga información detallada de los votantes en su sector
                             </p>

                         </div>
                     </div>
                     <div class="col-md-6 col-xl-3" data-animate="flipInY" data-animate-delay="400">
                         <div class="icon-box effect small ">
                             <div class="icon">
                                 <a href="#"><i class="fa fa-cloud"></i></a>
                             </div>
                             <h3>Inteligencia Artificial</h3>
                             <p>
                                 Sepa cómo optimizar su campaña utilizando inteligencia artificial
                             </p>
                         </div>
                     </div>

                     <div class="col-md-6 col-xl-3" data-animate="flipInY" data-animate-delay="600">
                         <div class="icon-box effect small ">
                             <div class="icon">
                                 <a href="#"><i class="far fa-lightbulb"></i></a>
                             </div>
                             <h3>Mapas Electorales</h3>
                             <p>Conozca la ubicación de su votantes y establezca rutas óptimas de campaña
                                 utilizando modelo de inteligencia artificial</p>
                         </div>
                     </div>
                 </div>
             </div>

         </div>
     </div>

 </section>


 <section class="background-grey">
     <div class="container">
         <div class="heading-text heading-section">
             <h2>¿Quieres Ganar las Próximas Elecciones?</h2>
             <p>Te ayudamos a logralo con smartanalytics</p>
         </div>
         <div class="row align-items-center">
             <div class="col-12 col-lg-6">

                 <div class="row ">
                     <div class="col-12">
                         <div class="icon-box effect medium border">
                             <div class="icon">
                                 <a href="#"><i class="fa fa-plug"></i></a>
                             </div>
                             <h3>Bigdata</h3>
                             <p>Las próximas elecciones van a ser intensivas en conocimiento. La información
                                 hará la diferencia entre ganar o perder</p>
                         </div>
                     </div>
                     <div class="col-12">
                         <div class="icon-box effect medium border">
                             <div class="icon">
                                 <a href="#"><i class="fa fa-desktop"></i></a>
                             </div>
                             <h3>¿Quieres aumentar la votación?</h3>
                             <p>Con smartintelligence puedes aumentar hasta en un 50% de tu votación</p>
                         </div>
                     </div>
                     <div class="col-12">
                         <div class="icon-box effect medium border">
                             <div class="icon">
                                 <a href="#"><i class="fa fa-cloud"></i></a>
                             </div>
                             <h3>Georreferenciacion de Votos</h3>
                             <p>Nuestra plataforma GEOINTELLENCE posee georreferenciados a todos los votantes y
                                 permite realizar análsis geoespaciales para optimizar el trabajo de terreno
                             </p>
                         </div>
                     </div>
                     <div class="col-12">
                         <div class="icon-box effect medium border">
                             <div class="icon">
                                 <a href="#"><i class="far fa-lightbulb"></i></a>
                             </div>
                             <h3>Bigdata</h3>
                             <p>Las próximas elecciones van a ser intensivas en conocimiento. La información
                                 hará la diferencia entre ganar o perder</p>
                         </div>
                     </div>
                     <div class="col-12">
                         <div class="icon-box effect medium border ">
                             <div class="icon">
                                 <a href="#"><i class="fa fa-trophy"></i></a>
                             </div>
                             <h3>¿Quiénes son los votantes?</h3>
                             <p>Sabemos quiénes son y dónde se encuentran cada uno de los votantes.</p>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-12 d-none d-lg-block col-lg-6">
                 <img src="{{url_for('static', filename='images/win-vote.jpg')}}" alt="" class="img-fluid">
             </div>
         </div>
     </div>
 </section>

 <section id="page-content">
     <div class="container">
         <div class="row">
             <div class="col-12">
                 <div class="heading-text heading-section text-center">
                     <h2>Conoce Geointelligence</h2>
                     <p>Nuestra Plataforma de Inteligencia Territorial y Electoral</p>
                 </div>
             </div>
         </div>
         <div id="blog" class="grid-layout post-3-columns m-b-30" data-item="post-item">
             <!-- Post item-->
             <div class="post-item border">
                 <div class="post-item-wrap">
                     <div class="post-image">
                         <a href="#">
                             <img alt="" src="{{url_for('static', filename='images/profiles.png')}}">
                         </a>

                     </div>
                     <div class="post-item-description">
                         <h2><a href="#">Perfiles</a></h2>
                         <p>Mobirise is an easy website builder - just drop site elements to your page, add
                             content and style it to look the way you like.</p>
                         <a href="#" class="item-link">
                             aprende más <i class="icon-chevron-right"></i></a>
                     </div>
                 </div>
             </div>
             <div class="post-item border">
                 <div class="post-item-wrap">
                     <div class="post-image">
                         <a href="#">
                             <img alt="" src="{{url_for('static', filename='images/Advanced geospatial analysis.png')}}">
                         </a>

                     </div>
                     <div class="post-item-description">
                         <h2><a href="#">Avanzados análisis geoespaciales</a></h2>
                         <p>All sites you make with Mobirise are mobile-friendly. You don't have to create a
                             special mobile version of your site.</p>
                         <a href="#" class="item-link">
                             aprende más <i class="icon-chevron-right"></i></a>
                     </div>
                 </div>
             </div>
             <div class="post-item border">
                 <div class="post-item-wrap">
                     <div class="post-image">
                         <a href="#">
                             <img alt="" src="{{url_for('static', filename='images/The campaign on one page.jpg')}}">
                         </a>

                     </div>
                     <div class="post-item-description">
                         <h2><a href="#">La campaña en una página</a></h2>
                         <p>Mobirise offers many site blocks in several themes, and though these blocks are
                             pre-made, they are flexible.</p>
                         <a href="#" class="item-link">
                             aprende más <i class="icon-chevron-right"></i></a>
                     </div>
                 </div>
             </div>


         </div>
     </div>
 </section>


 <section class="background-grey" id="section-4">
     <div class="container">
         <div class="heading-text heading-section text-center">
             <h2>NUESTRO EQUIPO</h2>
         </div>
         <div class="row team-members">
             <div class="col-lg-3 col-md-6">
                 <div class="team-member">
                     <div class="team-image">
                         <img src="{{url_for('static', filename='images/member1.jpg')}}">
                     </div>
                     <div class="team-desc">
                         <h3>Albert Bucchi</h3>
                         <span>Vice President</span>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing tristique hendrerit laoreet.
                         </p>
                         <div class="align-center">
                             <a class="btn btn-xs btn-slide btn-light" href="#">
                                 <i class="fab fa-facebook-f"></i>
                                 <span>Facebook</span>
                             </a>
                             <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                                 <i class="fab fa-twitter"></i>
                                 <span>Twitter</span>
                             </a>
                             <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                                 <i class="fab fa-instagram"></i>
                                 <span>Instagram</span>
                             </a>
                             <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                 <i class="icon-mail"></i>
                                 <span>Mail</span>
                             </a>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-md-6">
                 <div class="team-member">
                     <div class="team-image">
                         <img src="{{url_for('static', filename='images/member2.jpg')}}">
                     </div>
                     <div class="team-desc">
                         <h3>Starkey</h3>
                         <span>CEO</span>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing tristique hendrerit laoreet.
                         </p>
                         <div class="align-center">
                             <a class="btn btn-xs btn-slide btn-light" href="#">
                                 <i class="fab fa-facebook-f"></i>
                                 <span>Facebook</span>
                             </a>
                             <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                                 <i class="fab fa-twitter"></i>
                                 <span>Twitter</span>
                             </a>
                             <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                                 <i class="fab fa-instagram"></i>
                                 <span>Instagram</span>
                             </a>
                             <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                 <i class="icon-mail"></i>
                                 <span>Mail</span>
                             </a>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-md-6">
                 <div class="team-member">
                     <div class="team-image">
                         <img src="{{url_for('static', filename='images/member3.jpg')}}">
                     </div>
                     <div class="team-desc">
                         <h3>John Doe</h3>
                         <span>ExeTv. Director</span>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing tristique hendrerit laoreet.
                         </p>
                         <div class="align-center">
                             <a class="btn btn-xs btn-slide btn-light" href="#">
                                 <i class="fab fa-facebook-f"></i>
                                 <span>Facebook</span>
                             </a>
                             <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                                 <i class="fab fa-twitter"></i>
                                 <span>Twitter</span>
                             </a>
                             <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                                 <i class="fab fa-instagram"></i>
                                 <span>Instagram</span>
                             </a>
                             <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                 <i class="icon-mail"></i>
                                 <span>Mail</span>
                             </a>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 col-md-6">
                 <div class="team-member">
                     <div class="team-image">
                         <img src="{{url_for('static', filename='images/member4.jpg')}}">
                     </div>
                     <div class="team-desc">
                         <h3>Addy Feuers Tein</h3>
                         <span>Director</span>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing tristique hendrerit laoreet.
                         </p>
                         <div class="align-center">
                             <a class="btn btn-xs btn-slide btn-light" href="#">
                                 <i class="fab fa-facebook-f"></i>
                                 <span>Facebook</span>
                             </a>
                             <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                                 <i class="fab fa-twitter"></i>
                                 <span>Twitter</span>
                             </a>
                             <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                                 <i class="fab fa-instagram"></i>
                                 <span>Instagram</span>
                             </a>
                             <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                                 <i class="icon-mail"></i>
                                 <span>Mail</span>
                             </a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <!-- Contact -->
 <div class="map-frame" id="section-5">
     <iframe
         src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6658.782411165573!2d-70.647658!3d-33.439113!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5a23abab02f%3A0xe2e6904aeb0c52dc!2sHu%C3%A9rfanos%20757%2C%20Of%20411%2C%20Santiago%2C%20Regi%C3%B3n%20Metropolitana%2C%20Chile!5e0!3m2!1sen!2sus!4v1596116957723!5m2!1sen!2sus"
         width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
         tabindex="0">
     </iframe>
 </div>
 <section class="p-t-150 p-b-200" style="background-image:url({{url_for('static', filename='images/background-4.png')}}); background-position:17% 20%;
     background-color: #f8f9fa;">

     <div class="container">
         <div class="row">
             <div class="col-lg-6">
                 <div class="row">
                     <div class="col-lg-12">
                         <h2 class="m-b-10">
                             Póngase en contacto con nosotros</h2>

                     </div>
                     <div class="col-lg-6 m-b-30">
                         <address>
                             <strong>Dirección:</strong><br>
                             Huérfanos 757 Of 411 Santiago
                         </address>
                         <strong>Teléfono:</strong><br> (+56) 998382322<br><br>
                         <strong>Email:</strong><br> contacto@smartanalytics.cl<br><br>
                     </div>


                 </div>
             </div>
             <div class="col-lg-5 offset-lg-1">
                 <form class="contact-form" novalidate action="/contact" role="form"
                     method="post">
                     {{ form.hidden_tag() }}
                     <div class="row">
                         <div class="form-group col-md-12">
                             <label for="name">Nombre</label>
                             <input type="text" aria-required="true" required name="name"
                                 class="form-control required name" placeholder="Introduzca su nombre">
                         </div>
                         <div class="form-group col-md-6">
                             <label for="phone">Teléfono</label>
                             <input type="text" aria-required="true" required name="phone"
                                 class="form-control required name" placeholder="Ingrese su número telefónico">
                         </div>
                         <div class="form-group col-md-6">
                             <label for="email">Email</label>
                             <input type="email" aria-required="true" required name="email"
                                 class="form-control required email" placeholder="Introduce tu correo
                                 electrónico">
                         </div>
                     </div>
                     <div class="form-group">
                         <label for="message">Mensaje</label>
                         <textarea type="text" required name="message" rows="8"
                             class="form-control required" placeholder="Ingrese su mensaje"></textarea>
                     </div>
                     <div class="form-group">
                         <button class="btn btn-light" type="submit" id="form-submit"><i
                                 class="fa fa-paper-plane"></i>&nbsp;Enviar mensaje</button>
                     </div>
                 </form>

             </div>
         </div>
     </div>
 </section>
 <!-- end: Contact -->

{% endblock %}