{% extends "base.html" %}
{% block div %}
<section class="section-content">
    <div class="container">
        <div class="row">
            <div class="content col-lg-12">                
                <div class="breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Post</li>
                        </ol>
                    </nav>
                </div>
                <div class="line"></div>                
            </div>
        </div>
        <div class="row">
            <!-- content -->
            <input type="hidden" id="chart1_data" value="{{ chart1_data }}">
            <div class="content col-lg-12">
                <!-- Blog -->
                <div id="blog" class="single-post">
                    <!-- Post single item-->
                    <div class="post-item">
                        <div class="post-item-wrap">
                            <div class="post-image-div">
                                <a href="#">
                                    <img alt="" src="{{ post.image_url }}">
                                </a>
                            </div>
                            <div class="post-item-description">
                                <h2>{{ post.title }}</h2>
                                <div class="post-meta">
                                    <span class="post-meta-date"><i class="fa fa-calendar-o"></i>{{ post.date.strftime("%B %d, %Y") }}</span>
                                    <span class="post-meta-category">By {{ post.author.username }}</span>
                                </div>
                                {{ post.text }}
                            </div>
                        </div>
                    </div>
                    <!-- end: Post single item-->
                </div>
            </div>
            <!--
            <div class="col-12 col-xl-4">
                <div class="heading-text heading-section">
                    <h4>Datos en timepo real</h4>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="chart-div mb-5">
                            <canvas id="chart1"></canvas>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="chart-div mb-5">
                            <canvas id="chart1_pie"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        -->
            <!-- end: content -->
        </div>
    </div>
</section>
<!-- end: Page Content -->
{% endblock %}