{% extends "backend/base.html" %}
{% block div %}
<section class="section-content" id="welcome" class="p-b-0">
    <div class="container">
        <!--
        <div class="row">
            <div class="content col-lg-12">
                <h4>Posts</h4>
                <div class="breadcrumb">
                    <nav aria-label="breadcrumb" class="col-lg-9 col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/backend/dashboard">Backend</a></li>
                            <li class="breadcrumb-item"><a href="/backend/posts">Posts</a></li>
                        </ol>
                    </nav>                    
                </div>
                <div class="line"></div>                
            </div>
        </div>
        -->
        <div class="row mb-3">
            <div class="col-lg-6">
                <h4>Post list</h4>                
            </div>
            <div class="col-lg-6 text-right">
                <a href="/backend/post/create" id="add_post_btn" type="button" class="btn btn-light"><i class="icon-plus"></i> New Post</a>                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="post_table" class="table table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th width="5%">No</th>
                            <th width="15%">Title</th>
                            <th width="35%">Content</th>
                            <th width="15%">Image</th>
                            <th width="10%">Author</th>
                            <th width="10%">Date</th>                            
                            <th width="10%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for post in posts %} 
                        <tr>                       
                            <td>{{ loop.index }}</td>
                            <td>{{ post.title }}</td>
                            {% if post.text|length > 400 %}
                                <td>{{ post.text[0:400] }} ...</td>
                            {% else %} 
                                <td>{{ post.text }} </td>
                            {% endif %}

                            <td>
                            {% if post.image_type == "video" %}
                            <video playsinline="" loop="true" muted="true" poster="" preload="">
                                <source src="{{ post.image_url }}" type="video/mp4">
                            </video>
                            {% else %}
                                <img src="{{ post.image_url }}" style="width: 150px;">
                            {% endif %}
                            </td>

                            <td>{{ post.author.username }}</td>
                            <td>{{ post.date.strftime("%B %d, %Y") }}</td>
                            <td>
                                <div><a href="/post/{{ post.id }}" class="btn btn-warning table-btn">VIEW</a></div>
                                <div><a href="/backend/post/{{ post.id }}/update" class="col-12 btn btn-primary table-btn" >EDIT</a></div>
                                <div><a href="javascript:;" class="col-12 btn btn-danger table-btn delete-btn" data-id="{{ post.id }}" data-title="{{ post.title }}" >DELETE</a></div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}